#demo .line,

#demo {
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 80px;
    color: black;
    letter-spacing: .03em; 
    padding: 0px;

}
#demo span {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#demo span {
    display: inline-block;
    position: relative;
}

#demo span.head {
    margin-left: 4px;
}

#demo span.space {
    margin-right: 4px;
}

#demo span.current::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 6rem;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    animation: 
    blink-caret 2.3s;

}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0% { border-color: transparent; }
  50% { border-color: #191C5F; }
  100% { border-color: transparent;}


