#demo .line,

#demo {
    text-align: left;
    font-family: 'Hatton Bold', 'Nunito Sans';
    
    font-size: 50px;
    color: black;
    letter-spacing: .03em; 
    padding: 0px;

}
#demo span {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

#demo span {
    display: inline-block;
    position: relative;
}

#demo span.head {
    margin-left: 4px;
}

#demo span.space {
    margin-right: 4px;
}

#demo span.current::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 5rem;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    animation: 
    blink-caret 1.8s;

}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0% { border-color: transparent; }
  50% { border-color: black; }
  100% { border-color: transparent;}


