.container {
    animation: transitionIn 0.75s;
}
@keyframes transitionIN {

    from {
        opacity: 0;
        transform: rotateX(-10);

    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}